Source: sqitch-carton
Section: database
Priority: standard
Maintainer: Nathaniel Nutter <nnutter@genome.wustl.edu>
Build-Depends: debhelper (>= 7), carton
Standards-Version: 3.8.3
Homepage: http://sqitch.org

Package: sqitch-carton
Architecture: any
Depends: perl-modules (>= 5.10.1)
Description: Sqitch is a database change management application.
